.textshortcuts-flex-container-1 {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 4px;
}

.textshortcuts-flex-default {
    padding: 10px;
}

.textshortcuts-flex-modal-leftitem {
    flex: 1;
    margin-left: 40px;
    margin-right: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textshortcuts-flex-modal-rightitem {
    flex: 3;
    margin-right: 40px;

    height: auto;
}

.textshortcuts-main-header-center {
    text-align: center !important;
    margin-bottom: 20px;
}

.textshortcuts-main-hr {
    margin: 8px;
}

.textshortcuts-settings-item-group-name {
    position: relative;
    margin-left: 40px;
}

.textshortcuts-settings-item-group-name::before {
    content: '';
    position: absolute;
    top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    left: -36px;

    transform: translateY(-0%);

    width: 1.5em;
    height: 1.5em;

    filter: brightness(0.8);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1mb2xkZXIiPjxwYXRoIGQ9Ik00IDIwaDE2YTIgMiAwIDAgMCAyLTJWOGEyIDIgMCAwIDAtMi0yaC03LjkzYTIgMiAwIDAgMS0xLjY2LS45bC0uODItMS4yQTIgMiAwIDAgMCA3LjkzIDNINGEyIDIgMCAwIDAtMiAydjEzYzAgMS4xLjkgMiAyIDJaIi8+PC9zdmc+");
}

.textshortcuts-settings-item-group-name-nodesc {
    position: relative;
    margin-left: 40px;
}

.textshortcuts-settings-item-group-name-nodesc::before {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    left: -36px;

    transform: translateY(-0%);

    width: 1.5em;
    height: 1.5em;

    filter: brightness(0.8);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1mb2xkZXIiPjxwYXRoIGQ9Ik00IDIwaDE2YTIgMiAwIDAgMCAyLTJWOGEyIDIgMCAwIDAtMi0yaC03LjkzYTIgMiAwIDAgMS0xLjY2LS45bC0uODItMS4yQTIgMiAwIDAgMCA3LjkzIDNINGEyIDIgMCAwIDAtMiAydjEzYzAgMS4xLjkgMiAyIDJaIi8+PC9zdmc+");
}

.textshortcuts-settings-item-group-desc {
    position: relative;
    margin-left: 40px;
}

.textshortcuts-settings-item-command-name {
    position: relative;
    margin-left: 40px;
}

.textshortcuts-settings-item-command-name::before {
    content: '';
    position: absolute;
    top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    left: -36px;

    width: 1.5em;
    height: 1.5em;

    filter: brightness(0.8);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1maWxlIj48cGF0aCBkPSJNMTQuNSAySDZhMiAyIDAgMCAwLTIgMnYxNmEyIDIgMCAwIDAgMiAyaDEyYTIgMiAwIDAgMCAyLTJWNy41TDE0LjUgMnoiLz48cG9seWxpbmUgcG9pbnRzPSIxNCAyIDE0IDggMjAgOCIvPjwvc3ZnPg==");
}

.textshortcuts-settings-item-command-name-nodesc {
    position: relative;
    margin-left: 40px;
}

.textshortcuts-settings-item-command-name-nodesc::before {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    left: -36px;

    width: 1.5em;
    height: 1.5em;

    filter: brightness(0.8);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1maWxlIj48cGF0aCBkPSJNMTQuNSAySDZhMiAyIDAgMCAwLTIgMnYxNmEyIDIgMCAwIDAgMiAyaDEyYTIgMiAwIDAgMCAyLTJWNy41TDE0LjUgMnoiLz48cG9seWxpbmUgcG9pbnRzPSIxNCAyIDE0IDggMjAgOCIvPjwvc3ZnPg==");
}

.textshortcuts-settings-item-command-desc {
    position: relative;
    margin-left: 40px;
}

.textshortcuts-modal-json-textarea {
    width: 100%;

    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1px;

    white-space: nowrap;
    resize: vertical;

    padding-bottom: 40px;
}

.textshortcuts-modal-command-editor-labels {
    text-align: right;
}

.textshortcuts-modal-command-editor-button {
    margin-top: 16px;
    width: 120px;
    float: right;
}

.textshortcuts-modal-within-group-button {
    margin-top: 8px;
    width: 120px;
}

.textshortcuts-modal-within-group-button::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXBsdXMiPjxwYXRoIGQ9Ik01IDEyaDE0Ii8+PHBhdGggZD0iTTEyIDV2MTQiLz48L3N2Zz4=);
}